<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Players</title>
</head>
<body>
<h1>Please enter player information</h1>

<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>
<div th:if="${message}" style="color: green">
    <p th:text="${message}"></p>
</div>

<form action="/addPlayers" method="POST">
    <div>
        <label for="name">Enter player first name:</label>
        <input type="text" id="name" name="name" th:value="${firstname}">
    </div>

    <div>
        <label for="lastname">Enter player last name:</label>
        <input type="text" id="lastname" name="lastname" th:value="${lastname}">
    </div>

    <div>
        <label for="jerseynumber">Jersey number:</label>
        <input type="number" id="jerseynumber" name="jerseynumber" th:value="${jerseynumber}">
    </div>

    <div>
        <button type="submit" class="submit-button">Submit</button>
    </div>

    <div style="margin-bottom: 25px"></div>

</form>
<div class="section">
    <a th:href="@{/}">
        <button>Back to home</button>
    </a>
</div>
</body>
</html>