<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Archive</title>
</head>
<body>
<h1>Gamedata archive</h1>

<div class="section">
  <p>Registered players</p>
  <a th:href="@{/registeredPlayers}">
    <button>Show players</button>
  </a>
</div>

<div class="section">
  <p>Finished games</p>
  <a th:href="@{/games}">
    <button>Games</button>
  </a>
</div>

<div style="margin-bottom: 25px"></div>

<div class="section">
  <a th:href="@{/}">
    <button>Back to home</button>
  </a>
</div>

</body>
</html>